@charset "utf-8";
/* CSS Document */


*{ margin:0px; padding:0px;}
.contain{ width:100%;height:100%;background-color:#F2F2F2;}
.top{width:100%; line-height:50px; font-size:14px; }
.content{background-color: #F2F2F2;}
.main{width: 100%;border-bottom:1px solid #F2F2F2; height: 50px; line-height: 50px; background-color: white;}
.con{ background-color: white; text-align: center;} 
table{ text-align: center; height: 200px;}




